/tests              export-ignore
/.editorconfig      export-ignore
/.env-sample        export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/phinx.php          export-ignore
/phpcs.xml.dist     export-ignore
/phpstan.neon.dist  export-ignore
/phpunit.xml.dist   export-ignore
