body {
   font-family: 'Helvetica','Arial', sans-serif;
   background-color: #DBC9B8;
   margin: 0px;
   padding: 0px;
   text-align: center;
}
a,
a:link,
a:active,
a:visited {
   color: #855832;
   text-decoration: none;
   }
a:hover {
   color: #74482A !important;
   text-decoration: underline;
   }
div.Title {
   margin: 0 0 10px;
   padding: 30px 0 0;
}
div.Title h1 {
   width: 500px;
   margin: 0 auto;
}
div.Title img {
   top: 52px;
   position: absolute;
}
div.Title p {
   padding: 0px;
   margin: 0;
}

h1 {
   font-family: Monaco, Courier, monospace;
   color: #362925;
   margin: 0 auto;
   padding: 0;
   font-size: 350%;
}
div.Form {
   text-align: center;
}
div.Form ul {
   width: 400px;
   margin: 0 auto;
   padding: 0;
}

.Warnings {
    padding: 0 10px;
    font-style: italic;
    color: #855832;
}

div.Errors {
   background: #d00;
   font-family: Monaco, Courier, monospace;
   padding: 20px 8px !important;
   margin: 0 0 10px;
   border-bottom: 1px solid #C0E7F5;
}
.Errors li {
   padding: 4px 0 !important;
   border: 0px !important;
   margin: 0px !important;
   color: #fff !important;
   line-height: 150%;
}
.Errors li pre,
.Errors li code {
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border: 1px solid #b00;
   background: #c00;
   margin: 10px 0 0;
   padding: 4px 8px;
   display: block;
   font-weight: normal;
   font-family: monospace;
}
.Errors li a {
   color: #ffff00;
   text-decoration: underline;
}
.Errors li a:hover {
   color: #ff0 !important;
   text-decoration: none;
}
.Hidden {
   display: none;
}
/* Forms */
form {
   margin: 0 0 20px;
   text-align: right;
}
form ul {
   text-align: left;
   list-style: none;
   margin: 0px;
   padding: 10px;
}
form ul li {
   padding: 10px 0;
}
form ul li.Warning {
   padding-bottom: 0;
   border-bottom: 0;
}
form ul li.Warning div {
   line-height: 1.6;
   color: #000;
   padding: 16px 0 8px;
}
form label {
   font-family: Monaco, Courier, monospace;
   display: block;
   padding: 0;
   color: #362925;
}
form label span {
   color: #555;
   font-weight: normal;
   padding: 0 0 0 10px;
}
form select {
   border-radius: 4px;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   padding: 8px;
   margin-top: 4px;
   width: 396px;
   border: 1px solid #ccc;
   color: #555;
}
form input.InputBox {
   border-radius: 4px;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   padding: 8px;
   margin-top: 4px;
   width: 380px;
   border: 1px solid #ccc;
   color: #555;
}
form input.InputBox:focus {
   color: #000;
   background: #FFFEDE;
   border: 1px solid #aaa;
}
form li.Last {
   padding: 12px 0 2px;
   border-bottom: 0;
}

form fieldset:disabled legend,
form fieldset:disabled label,
form label.disabled {
   color: gray;
}
div.Button {
   text-align: right;
   padding: 12px 0 30px;
   width: 396px;
   margin: 0 auto;
}
div.Button a,
input.Button {
   cursor: pointer;
   font-family: arial, helvetica, verdana;
   font-size: 150%;
   font-weight: bold;
   color: #362925;
   text-shadow: 0 1px 0 #fff;
   margin: 0;
   padding: 3px 10px;
   background-color: #f8f8f8;
   border: 1px solid #999;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   box-shadow: 0px 0px 2px #999;
   -moz-box-shadow: 0px 0px 2px #999;
   -webkit-box-shadow: 0px 0px 2px #999;
}
div.Button a {
   padding: 4px 8px;
}
div.Button a:hover,
input.Button:hover {
   text-decoration: none;
   color: #111;
   border: 1px solid #666;
}
div.Button a:focus,
input.Button:focus {
   background: #eee;
}

p.Info, dl.Info {
   width: 400px;
   margin: 10px auto 0px;
   line-height: 1.6;
    color: #362925;
    padding: 6px 0;
}
p.Info a {
    text-decoration: underline;
}

/* Results */
.Info ol {
    width: 500px;
    margin: 10px auto 0px;
    text-align: left;
}
.Info ol li {
    margin: 5px 0;
}

/* Feature list */
.Info dt {
   float: left;
   clear: left;
   width: 180px;
}
.Info dt, dd {
   border-bottom: 1px solid #E2F4FF;
   height: 30px;
    text-align: left;
    padding-top: 6px;
}
.Info dd pre {
    margin-top: 0px;
}

/* Feature table */
table.Features {
   padding: 0 0 50px;
   margin: 0 auto;
}
table.Features td {
   padding: 2px 12px;
   border-right: 1px dashed #E2F4FF;
   border-bottom: 1px solid #E2F4FF;
}
.Platform {
   text-align: left;
   width: 150px;
}
.No {
   color: #A17E61;
   font-size: 50%;
}
.Yes {
   color: darkgreen;
   text-shadow: 0px 1px #555;
   font-width: bold;
}
h2 {
   margin-top: 40px;
   margin-bottom: 0;
}

/* Feature table column headings */
th.FeatureName {
  /* Something you can count on */
  height: 100px;
  white-space: nowrap;
  font-weight: normal;
}
th.FeatureName > div {
  transform:
    /* Magic Numbers */
    translate(25px, 51px)
    /* 45 is really 360 - 45 */
    rotate(315deg);
  width: 30px;
    margin-left: -20px;
    margin-top: -25px;
}
th.FeatureName > div > span {
  /*border-bottom: 1px dashed #E2F4FF;
  padding: 3px 0px 5px;*/
}
